[Unit]
Description=The measurement run handler service

[Service]
Environment=PYTHONUNBUFFERED=tomato_casserol
ExecStart=/usr/bin/mqtt-server --mqtthost %i
Restart=always
RestartSec=3
PrivateTmp=true
NoNewPrivileges=true
