[Unit]
Description=The Utility Handler service

[Service]
Environment=PYTHONUNBUFFERED=tomato_casserol
ExecStart=/usr/bin/utility-handler --address 127.0.0.1
RestartSec=3
Restart=always
PrivateTmp=true
NoNewPrivileges=true
