 #AssertPathExists=/opt/software/source/central-control/central_control/utility_handler.py

[Unit]
After=network-online.target
Wants=network-online.target
Description=Starts the live data plotter service

[Service]
Environment=PYTHONPATH=/opt/software/python
ExecStart=python -m plotter.plotter
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
