#AssertPathExists=/opt/software/source/central-control/central_control/utility_handler.py

[Unit]
After=network-online.target
Wants=network-online.target
Description=The measurement run handler service

[Service]
Environment=PYTHONPATH=/opt/software/python
Environment=PYTHONUNBUFFERED=tomato_casserol
ExecStart=python -m central_control_dev.mqtt_server --mqtthost 127.0.0.1
Restart=always
RestartSec=3
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
