#AssertPathExists=/opt/software/source/central-control/central_control/utility_handler.py

[Unit]
After=network-online.target
Wants=network-online.target
Description=The data saver service

[Service]
WorkingDirectory=%h/data
Environment=PYTHONPATH=/opt/software/python
ExecStart=python -m saver.saver -mqtthost 127.0.0.1
RestartSec=3
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
