AssertPathExists=/opt/software/source/central-control/central_control/utility-handler.py

[Service]
#WorkingDirectory=/tmp
Environment=PYTHONPATH=/opt/software/python
ExecStart=python /opt/software/source/central-control/central_control/utility-handler.py
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target