[Unit]
After=network-online.target
Wants=network-online.target
Description=The V-T live data plotter service

[Service]
Environment=PYTHONPATH=/opt/software/python
Environment=PYTHONUNBUFFERED=tomato_casserol
ExecStart=python -m plotter.vt_plotter --mqtthost 127.0.0.1 --dashhost 127.0.0.1
RestartSec=3
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
