[Unit]
Description=Starts the WaveLabs relay server
ConditionPathExists=/usr/sbin/wavelabs-relay-server.py
After=network.target

[Service]
Type=idle
ExecStart=/usr/sbin/wavelabs-relay-server.py

RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
